body {
    background-color: rgb(253, 251, 251, 0.5);
    font-family: Monospace, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 25px;
}
#cabecalho {
    position: fixed;
    top: 0;
}
#titulo {
    color: #fff;
}
header {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 128, 128, 0.5);
    border: 1px solid rgba(31, 31, 31, 0.2);
}
nav h1 {
    width: 500px;
    position: relative;
    text-align: center;
    left: 100%;
    top: 20px;
    margin: auto;
    font-style: italic;
}
section img {
    border-radius: 30%;
    position: relative;
    left: 40%;
    top: 60px;
    border: 1px solid rgba(0, 128, 128, 0.5);
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 15px;
    border: 1px solid rgba(0, 128, 128, 0.5);
    border-radius: 10px;
    color: #0DBAC6;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    margin: 100px 670px;
}
nav a:hover{
    background-color: rgba(31, 31, 31, 0.04);
    transform: all 0.5s ease-out;
    padding: 15px 25px;
    color: rgba(46, 139, 87, 0.7);
}
.lado-esquerdo, .lado-direito {
    width: 30%;
    display: inline-block;
    border-radius: 10%;
    padding: 10px 0px;
    background-color: rgba(31, 31, 31, 0.03);
    position: relative;
    left: 150px;
    margin: 0 100px;
    border: 1px solid rgba(0, 128, 128, 0.5);
    text-align: center;
}
ol, ul {
    list-style: none;
}
#licoes_aprendidas, #licoes_a_aprender, h2 {
    color: rgba(0, 128, 128, 1);
    font-style: italic;
}
#aprendizado p {
    width: 50%;
    display: inline-block;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: rgba(31, 31, 31, 0.03);
    position: relative;
    left: 32%;
    top: 50px;
    border: 1px solid rgba(0, 128, 128, 0.5);
    text-align: justify;
    color: rgba(0, 128, 128, 1);
}
#aprendizado h2 {
    width: 300px;
    position: relative;
    left: 620px;
    top: 50px;
}
#rodape {
    border: 1px solid #ccc;
    width: 50%;
    position: relative;
    border-radius: 15px;
    top: 80px;
    left: 440px;
    color: rgba(0, 128, 128, 1);
    background-color: rgba(0, 128, 128, 0.3);
}
th {
    padding: 10px 10px;
}


